@import "bourbon/bourbon";
body {
  padding-top: 60px;
  font-family: $helvetica;
}
#contact-options {
  text-align: center;
  list-style: none;
  li {
    display: inline;
    a {
      margin: 1em;
      height: 48px;
    }
  }
}
